include mixins.pug
section.complexSolution
    .container
        h2.titleSection комплексные решения для стекольных производств
        p Референс-лист внедрённых и построенных объектов ООО «Стромизмеритель» насчитывает более 360 предприятий, стекольных заводов, участков и технологических линий в России и 17 зарубежных странах. Технологические решения ООО «Стромизмеритель» обеспечивают высокое качество приготавливаемой шихты, минимизируют её потери при транспортировке в стекловаренную печь, отвечают экологическим стандартам.
        .cards 
            +CardComplexSolution("../assets/images/ComplexSolution1.png", "линии возврата и обработки стеклобоя")
            +CardComplexSolution("../assets/images/ComplexSolution2.png", "дозировочно-смесительные линии")
            +CardComplexSolution("../assets/images/ComplexSolution3.png", "листовое и прокатное стекло")
            +CardComplexSolution("../assets/images/ComplexSolution4.png", "тарное стекло")
            +CardComplexSolution("../assets/images/ComplexSolution5.png", "посуда и специальные стёкла")
            +CardComplexSolution("../assets/images/ComplexSolution6.png", "теплоизоляционные материалы")
            