section.exhibitions
    .container
        h2.titleSection предстоящие выставки
        .card 
            img(src="../assets/images/Exhibitions.png", alt="")
            .descr 
                h3 «Мир стекла-2021»
                p Приглашаем заинтересованных специалистов  посетить стенд нашей компании Fd012 на выставке «Мир Стекла-2021» которая пройдёт 22-25 марта 2021 г. в Москве в ЦВК «Экспоцентр» в павильоне Форум.

