footer 
    .container 
        .nav 
            ul 
                li 
                    a заводы
                li.separator |
                li 
                    a линии
                li.separator |
                li 
                    a оборудование
                li.separator |
                li 
                    a решения под ключ
                li.separator |
                li 
                    a компания
                li.separator |
                li 
                    a контакты
        .descr 
            img(src="../assets/images/Logo.png", alt="")
            .copyright 
                p &#169
                p ООО &#171Стромизмеритель&#187
            .links 
                a Пользовательское соглашение
                a Политика конфиденциальности
            .contacts 
                a.mail(href="mailto:info@stromi-nn.ru") info@stromi-nn.ru
                a.phone(href="tel:88005505970") 8 800 550 59 70
