header.internal
            .container 
                button.btn__menu.internalBtnMenu
                    span
                a.logo(href="index.html")
                    img(src="../assets/images/Logo.png", alt="")
                    p.title стромизмеритель
                .nav 
                    button.btnCloseMenu
                    ul 
                        li 
                            a заводы
                        li 
                            a линии
                        li 
                            a оборудование
                        li 
                            a решения под ключ
                        li.activePage
                            a(href="aboutTheCompany.html") компания
                        li 
                            a контакты
                .search 
                    input(type="search", placeholder="Поиск")
                    button
                        img(src="../assets/images/SearchBlack.png", alt="")
                .contacts 
                    a.phone(href="tel:88005505970") 8 800 550 59 70 
                    a.mail(href="mailto:info@stromi-nn.ru") info@stromi-nn.ru
                    button.btnContacts 
                        img(src="../assets/images/phoneIcon.png", alt="")
                .language 
                    ul 
                        li 
                            a ENG
                        li 
                            a.activeLanguage RUS
                        li 
                            a FR
                    button.btnLanguage ˅