include mixins.pug 
section.news
    .container
        .title
            h2.titleSection новости
            +Btn(false, "больше новостей")
        .owl-carousel.carouselNews
            .carousel-item
                +NewsSlide("14 апреля 2021", "Бронзовая медаль на Московском международном салоне изобретений «Архимед 2021»", "С 23-го по 26-е марта 2021 г. в Москве проходил XXIV Московский международный Салон изобретений и инновационных технологий «Архимед – 2021». В Салоне приняли участие представители изобретательского сообщества из 19 государств и 33 регионов Российской Федерации, которые презентовали свыше 600 экспонатов – изобретения, промышленные образцы, товарные знаки и инновационные проекты. ООО «Стромизмеритель» (г. Нижний Новгород), впервые принимавшее участие в этом Салоне, было единственным предприятием, представлявшем стекольную промышленность России на этом Форуме.", "../assets/images/News1.png")
            .carousel-item
                +NewsSlide("20 апреля 2021", "Бронзовая медаль на Московском международном салоне изобретений «Архимед 2021»", "С 23-го по 26-е марта 2021 г. в Москве проходил XXIV Московский международный Салон изобретений и инновационных технологий «Архимед – 2021». В Салоне приняли участие представители изобретательского сообщества из 19 государств и 33 регионов Российской Федерации, которые презентовали свыше 600 экспонатов – изобретения, промышленные образцы, товарные знаки и инновационные проекты. ООО «Стромизмеритель» (г. Нижний Новгород), впервые принимавшее участие в этом Салоне, было единственным предприятием, представлявшем стекольную промышленность России на этом Форуме.", "../assets/images/News1.png")
            .carousel-item
                +NewsSlide("30 апреля 2021", "Бронзовая медаль на Московском международном салоне изобретений «Архимед 2021»", "С 23-го по 26-е марта 2021 г. в Москве проходил XXIV Московский международный Салон изобретений и инновационных технологий «Архимед – 2021». В Салоне приняли участие представители изобретательского сообщества из 19 государств и 33 регионов Российской Федерации, которые презентовали свыше 600 экспонатов – изобретения, промышленные образцы, товарные знаки и инновационные проекты. ООО «Стромизмеритель» (г. Нижний Новгород), впервые принимавшее участие в этом Салоне, было единственным предприятием, представлявшем стекольную промышленность России на этом Форуме.", "../assets/images/News1.png")
