include mixins.pug 
section.projects 
    .container
        h2.titleSection реализованные проекты
        .content
            .carousel
                .owl-carousel.carouselProjects
                    .carousel-item 
                        +ProjectsSlide("../assets/images/Projects1.png", "Компания «Syrdaryo Universal Oyna»", "г. Сырдарья, Узбекистан", "2013-2020", 
                        ["Проект составного цеха и отделения обработки сырьевых материалов (2 очереди)",
                        "Оборудование линий обработки песка и доломита",
                        "Дозировочно-смесительные линии",
                        "Технологическое оборудование",
                        "Транспортные системы",
                        "Система управления оборудованием составного цеха"])
                    .carousel-item 
                        +ProjectsSlide("../assets/images/Projects1.png", "Компания «Syrdaryo Universal Oyna»", "г. Сырдарья, Узбекистан", "2013-2020", 
                        ["Проект составного цеха и отделения обработки сырьевых материалов (2 очереди)",
                        "Оборудование линий обработки песка и доломита",
                        "Дозировочно-смесительные линии",
                        "Технологическое оборудование",
                        "Транспортные системы",
                        "Система управления оборудованием составного цеха"])
                .btns
                    button.btn.prev ❮
                    a.btn.btn_bg больше проектов
                    button.btn.next ❯