include mixins.pug
section.turnkeySolution
    .container 
        h2.titleSection решения под ключ
        p Компания «Стромизмеритель» готова предоставить заказчику широкий спектр услуг от консультации и проекта до ввода объекта в эксплуатацию. Мы стремимся предложить лучшее техническое решение для линий обработки стеклобоя, производства любого типа стекла, производства сухих смесей при оптимальном соотношении цены и качества, с учётом требований по эффективности, безопасности и экологических норм. Мы ценим наших клиентов, учитываем их пожелания и ожидания и всегда гибко подходим к проектам и поставкам.
        .cards
            +CardTurmkeySolution("../assets/images/TurnkeySolution1.png", "проектирование производства", false, "designing.html")
            +CardTurmkeySolution("../assets/images/TurnkeySolution2.png", "технология производства шихты и многокомпонентных смесей", true)
            +CardTurmkeySolution("../assets/images/TurnkeySolution3.png", "автоматизация технологических процессов", false)
            +CardTurmkeySolution("../assets/images/TurnkeySolution4.png", "дозировочное, транспортное и технологическое оборудование", true)
            +CardTurmkeySolution("../assets/images/TurnkeySolution5.png", "монтаж и пусконаладочные работы", false)
            +CardTurmkeySolution("../assets/images/TurnkeySolution6.png", "сервисное обслуживание и обучение персонала", true)
