include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        header.internal
            +BtnMenu()
            .container 
                a.logo(href="index.html")
                    img(src="../assets/images/Logo.png", alt="")
                    p.title стромизмеритель
                .nav 
                    button.btnCloseMenu
                    ul 
                        li 
                            a заводы
                        li.separator |
                        li 
                            a линии
                        li.separator |
                        li 
                            a оборудование
                        li.separator |
                        li 
                            a решения под ключ
                        li.separator |
                        li 
                            a(href="aboutTheCompany.html") компания
                        li.separator |
                        li 
                            a контакты
                .search 
                    input(type="search", placeholder="Поиск")
                    button
                        img(src="../assets/images/SearchBlack.png", alt="")
                .contacts 
                    a.phone(href="tel:88005505970") 8 800 550 59 70 
                    a.mail(href="mailto:info@stromi-nn.ru") info@stromi-nn.ru
                .language 
                    ul 
                        li 
                            a РУ
                        li 
                            a EN 
                        li 
                            a FR

        +InternalPagesTitle("assets/images/InternalBackground.png", "о компании")
        section.specialization 
            .container 
                h2 ооо &#171стромизмеритель&#187 специализируется на:
                .descr
                    ul 
                        li
                            p.title Проектировании новых и реконструкции действующих
                            p заводов по производству изделий из стекла и строительных материалов
                        li
                            p.title Разработке, изготовлении, монтаже и пуско-наладочных работах
                            p дозировочного, транспортного и различного нестандартного оборудования
                        li
                            p.title Создании автоматизированных систем управления
                            p технологическими линиями составных и машинованных цехов, отделений по переработке стеклобоя и других сырьевых материалов.
                    .text
                        sapn Выпускаемое на нашем предприятии оборудование характеризуется надежностью, обеспечивает высокое качество приготавливаемой шихты и адаптировано, как для работы с кондиционным сырьём, так и сырьевыми материалами, требующими дополнительных операций: сушки, мойки, дробления, классификации и сепарации
        section.numbers 
            .container 
                .content 
                    +NumbersCard("17", "Стран охватывает география нашего сотрудничества")
                    +NumbersCard("50", "Патентов на изобретения и полезные модели")
                    +NumbersCard("80", "Клиентов работают с нами более 10 лет")
                    +NumbersCard("360", "Построенных и внедрённых объектов в России и за рубежом.")
        section.description
            .container 
                .card
                    img(src="../assets/images/Experts.png", alt="")
                    .text
                        h3.title эксперты отрасли
                        p.descr Коллектив ООО «Стромизмеритель» включает более 70 высококвалифицированных специалистов. Cреди них группа экспертов из 20 человек с опытом работы в стекольной отрасли более 15 лет. Кроме этого, мы привлекаем узкоспециализированных специалистов на отдельные виды работ в рамках аутсорсинга, как это принято в ведущих производственных западных компаниях. Это позволяет реализовывать сложные комплексные проекты от этапа планирования до ввода в эксплуатацию, решать нестандартные задачи и находить оптимальные решения.
                .card 
                    .text 
                        h3.title ВЫГОДНЫЙ И НАДЁЖНЫЙ ПАРТНЁР
                        p.descr Тридцатилетняя практика в различных областях и отраслях промышленности, наличие своего проектноконструкторского отдела и собственного производства с развитой материально-технической базой позволяет максимально гибко и в комплексе решать любые задачи заказчиков, учитывая при этом их пожелания. Проверенные временем решения, оптимальный подход к подбору оборудования собственного производства и европейского оборудования с точки зрения оптимального соотношения цены и эксплуатационно-технических характеристик, надёжности и долговечности. 
                    img(src="../assets/images/Partner.png", alt="")
        include pug/footer.pug
            
        include pug/scripts.pug