@media(max-width: 1200px)
{
    .container
    {
        max-width: 1024px;
    }

    .news{
        .title{
            width: 60%;
        }
    }

    .internal{
        .container{
            padding-left: 20px;
            padding-right: 20px;
        }
        .search{
            width: auto;
            border: none;

            input{
                display: none;
            }
        }

        .nav{
            width: 700px;
            
            ul{
                li{
                    font-size: 15px;
                }
            }
        }

        .contacts{
            .phone::before{
                content: none;
            }
        }

        .language{
            display: flex;
            align-items: center;
            ul{
                li{
                    display: none;
                    padding: 0;
                }

                li:nth-child(2){
                    display: block;
                    border: none;
                }
            }

            .btnLanguage{
                display: block;
            }
        }
    }

    .description{
        .container{
            .card{
                flex-direction: column;
                .text{
                    width: 100%;
                    margin: 0;
                    margin-top: 20px;
                }

                img{
                    width: 100%;
                }
            }

            .card:nth-child(even){
                flex-direction: column-reverse;

                .text{
                    margin: 0;
                    margin-top: 20px;
                }
            }
        }
    }

    .solution{
        .container{
            .title{
                .btns{
                    width: 70%;
                }
            }
        }
    }

    .designingCard{
        width: 45%;
    }
}

@media(max-width: 1024px)
{
    .container
    {
        max-width: 992px;
    }

    .specialization{
        h2{
            font-size: 28px;
        }
    }

    .solution{
        margin-top: 0;
    }

    .btn__menu.internalBtnMenu{
        display: block;
        border-right: 1px solid #DCDCDC;
        height: 100px;
        width: 100px;
        margin-right: auto;
    }

    .btn__menu.internalBtnMenu:before, .btn__menu.internalBtnMenu:after, .btn__menu.internalBtnMenu span
    {
        height: 3px;
        position: absolute;
        background: #000;
        left: 50%;
    }

    .btn__menu.internalBtnMenu span
    {
        width: 50%;    
    }

    .btn__menu.internalBtnMenu:before
    {
        content: "";
        width: 50%;
        top: 40px;
    }

    .btn__menu.internalBtnMenu:after
    {
        content: "";
        width: 50%;
        top: 60px;
    }

    .internal{
        padding: 0;
        .container{
            align-items: normal;
            justify-content: flex-end;
            padding-left: 0;
        }

        .logo{
            padding-left: 20px;
            position: absolute;
            left: 100px;
            top: 10px;
        }

        .nav{
            position: absolute;
            top: 0;
            left: -150vw;
            transition: left .5s linear;
            width: 40%;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            padding: 20px 20px 20px 40px;

            ul{
                flex-direction: column;

                .separator{
                    display: none;
                }

                li{
                    padding: 10px 0;
                    font-size: 18px;
                }

                .activePage::before{
                    content: none;
                }
            }

            .btnCloseMenu{
                display: block;
                position: absolute;
                top: 15px;
                right: 25px;
                background: none;
                border: none;
            }

            .btnCloseMenu:before, .btnCloseMenu:after {
                position: absolute;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: #333;
                }
                .btnCloseMenu:before {
                transform: rotate(45deg);
                }
                .btnCloseMenu:after {
                transform: rotate(-45deg);
            }
        }

        .search{
            padding-right: 20px;
        }

        .contacts{
            justify-content: center;
            padding-right: 20px;
        }

        .language{
            display: flex;
            ul{
                margin: 0;
                margin-top: auto;
                margin-bottom: auto;
            }
        }

        .showMenu{
            left: 0;
            background: #EEF7FD;
        }
    }

    .internalPagesTitle{
        margin-top: 100px;
    }
}

@media(max-width: 992px)
{
    .container
    {
        max-width: 768px;
    }

    header{
        .logo{
            img{
                width: 120px;
            }
        }

        .title{
            font-size: 11px;
        }

        .contacts{
            .phone{
                font-size: 20px;
            }
        }

        .search{
            width: 30%;
        }

        .nav{
            ul{
                li{
                    font-size: 14px;
                }
            }
        }
    }

    .introduction{
        .quality{
            .iso{
                p{
                    font-size: 12px;
                }
            }

            .npo{
                padding-left: 20px;
                p{
                    font-size: 12px;
                }
            }
        }
    }

    .projects{
        .projectsSlide{
            .locationDate{
                justify-content: space-between;

                .date{
                    margin-left: 0;
                }
            }
        }
    }

    .news{
        .title{
            width: 80%;
        }

        .newsSlide{
            flex-direction: column-reverse;
            .descr{
                width: 100%;
            }

            img{
                width: 100%;
            }
        }
    }

    footer{
        .nav{
            ul{
                li{
                    font-size: 14px;
                }
            }
        }

        .contacts{
            width: 100%;
            padding-top: 20px;
        }
    }

    .turnkeySolutionCard{
        width: 45%;
    }

    .turnkeySolutionCardBtn{
        width: 45%;
    }

    .costPriceCard{
        width: 45%;
    }

    .projects{
        .projectsSlide{
            img{
                width: 100%;
            }

            .descr{
                width: 100%;
                padding-top: 20px;
                padding-left: 0;
            }
        }

        .btns{
            width: 100%;
        }
    }

    .exhibitions{
        .card{
            img{
                width: 100%;
            }
            .descr{
                width: 100%;
                padding: 25px 25px;
            }
        }
    }

    .numbers{
        .container{
            .content{
                flex-direction: column;
            }
        }
    }

    .numbersCard{
        width: 100%;

        border-bottom: 1px dashed #B4C2CF;
        border-right: none;
    }

    .blocks{
        .container{
            .tarGlassBlocksCard {
                width: 45%;
            }
        }
    }

    .factories{
        .container{
            .btns{
                .btn{
                    width: 30%;
                }
    
                .btn:last-child{
                    width: 40%;
                }
            }
        }

        .projectsSlide{
            img{
                width: 100%;
            }

            .descr{
                width: 100%;
                padding-top: 20px;
                padding-left: 0;
            }
        }
    }

    .designing{
        margin-top: 100px;
        .container{
            .descr{
                flex-direction: column;

                p{
                    width: 100%;
                }
            }
            .content{
                flex-direction: column;

                ul{
                    width: 100%;
                    border-right: none;
                    border-bottom: 1px dashed #696969;
                }
            }
        }
    }

    .internalPagesTitle{
        h1{
            font-size: 60px;
        }
    }

    .solution{
        margin-top: 35px;
        .container{
            .title{
                flex-direction: column;
                
                .btns{
                    width: 100%;
                    margin-top: 35px;
                    justify-content: flex-start;
                }
            }
        }
    }

    .damlIcon{
        width: 50%;
    }

    .damlIcon:nth-child(even){
        border: none;
    }

    .damlIcon:nth-child(3){
        border-right: 1px dashed #696969;
    }
}

@media(max-width: 768px)
{
    .titleSection{
        font-size: 24px;
    }

    .container
    {
        max-width: 576px;
    }

    .btn__menu{
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    header{
        .search{
            width: 60%;
        }

        .nav{
            position: absolute;
            top: 0;
            left: -150vw;
            transition: left .5s linear;
            width: 40%;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            padding: 20px 20px 20px 40px;

            .container{
                ul{
                    flex-direction: column;

                    .separator{
                        display: none;
                    }

                    li{
                        padding: 10px 0;
                        font-size: 18px;
                    }
                }
            }

            .btnCloseMenu{
                display: block;
                position: absolute;
                top: 15px;
                right: 25px;
                background: none;
                border: none;
            }

            .btnCloseMenu:before, .btnCloseMenu:after {
                position: absolute;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: #333;
                }
                .btnCloseMenu:before {
                transform: rotate(45deg);
                }
                .btnCloseMenu:after {
                transform: rotate(-45deg);
                }
        }

        .showMenu{
            left: 0;
            background: #EEF7FD;
        }
    }
    
    .introduction{
        .container{
            flex-direction: column;
            .descr{
                width: 100%;
                h1{
                    width: 100%;
                }
                p{
                    width: 100%;
                }
            }

            .video{
                width: 100%;
            }
        }
    }

    .introduction::after{
        display: none;
    }

    .complexSolutionCard{
        width: 100%;
    }

    .turnkeySolutionCard{
        width: 100%;
        
    }

    .turnkeySolutionCardBtn{
        width: 100%;
    }

    .costPriceCard{
        width: 100%;
    }

    .costPrice{
        .info{
            align-items: center;

            .el{
                margin-left: auto;
                margin-right: auto;
            }

            h3{
                text-align: center;
            }
        }
    }

    .news{
        .title{
            width: 100%;
        }
    }

    footer{
        .nav{
            ul{
                li{
                    font-size: 12px;
                }
            }
        }
    }

    .specialization{
        .container{
            .descr{
                flex-direction: column;

                ul{
                    width: 100%;
                }

                .text{
                    width: 100%;
                }
            }
        }
    }

    .factories{
        .container{
            .btns{
                .btn{
                    width: 40%;
                }
    
                .btn:last-child{
                    width: 50%;
                }
            }
        }
    }

    .designingCard{
        width: 100%;
    }

    .internalPagesTitle{
        h1{
            font-size: 48px;
        }
    }

    .solution{
        .container{
            .title{
                .btns{
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .btn{
                        width: 300px;
                    }

                    .btn:last-child{
                        margin-left: 0;
                        margin-top: 10px;
                    }
                }
            }

            .descr{
                flex-direction: column;

                ul{
                    width: 100%;
                    border-right: none;
                    border-bottom: 1px dashed #696969;
                }
            }
        }
    }

    .damlIcon{
        width: 100%;
        border: none;
        border-bottom: 1px dashed #696969;
    }

    .damlIcon:nth-child(even){
        border: none;
        border-bottom: 1px dashed #696969;
    }

    .damlIcon:nth-child(3){
        border: none;
        border-bottom: 1px dashed #696969;
    }

    .internal{
        .container{
            height: 100px;
        }

        .btn__menu.internalBtnMenu{
            top: 0;
        }
    }
}

@media(max-width: 576px)
{
    .container
    {
        max-width: 100%;
    }

    .btn__menu{
        top: 0px;
    }

    header{
        .nav{
            width: 100%;
            height: 100%;
            position: fixed;
        }
    }

    .introduction{
        .descr{
            h1{
                font-size: 26px;
            }

            .quality{
                flex-direction: column;

                .iso{
                    width: 100%;
                }

                .npo{
                    width: 100%;
                    margin-top: 20px;
                    padding: 0;
                }
            }

            .btns{
                flex-direction: column;

                .btn{
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }
    }

    .projectsSlide{
        .descr{
            .locationDate{
                flex-direction: column;
            }
        }
    }

    .projects{
        .container{
            .content{
                .carousel{
                    .btns{
                        a{
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }

    .news{
        .container{
            .title{
                flex-direction: column;

                .btn{
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }
    }

    footer{
        padding-top: 20px;

        .container{
            .nav{
                ul{
                    flex-direction: column;

                    .separator{
                        display: none;
                    }

                    li{
                        margin-top: 10px;
                    }
                }
            }

            .descr{
                flex-direction: column;

                img{
                    width: 50%;
                }

                .copyright{
                    margin-top: 20px;
                }

                .links{
                    margin-top: 20px;
                }

                .contacts{
                    flex-direction: column;

                    text-align: center;

                    .phone{
                        margin-left: 0;
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .internal{

        .container{
            height: 50px;
        }
        .logo{
            padding-left: 5px;
            left: 50px;

            .title{
                display: none;
            }

            img{
                width: 90px;
            }
        }

        .contacts{
            padding-right: 5px;

            .btnContacts{
                display: block;
            }

            .phone{
                display: none;
            }

            .mail{
                display: none;
            }
        }

        .search{
            padding-right: 5px;
        }

        .language{
            ul{
                li{
                    display: none;
                    padding: 0;
                }
            }

            .btnLanguage{
                display: block;
            }
        }

        .btn__menu.internalBtnMenu{
            height: 50px;
            width: 50px;
            left: 0;
        }
    
        .btn__menu.internalBtnMenu span
        {
            width: 50%;    
        }
    
        .btn__menu.internalBtnMenu:before
        {
            content: "";
            width: 50%;
            top: 20px;
        }
    
        .btn__menu.internalBtnMenu:after
        {
            content: "";
            width: 50%;
            top: 30px;
        }
    }

    .specialization{
        .container{
            h2{
                font-size: 20px;
                width: 100%;
                padding: 0;
                padding-bottom: 20px;
            }

            .descr{
                ul{
                    padding: 0;
                }
            }
        }
    }

    .internalPagesTitle{
        margin-top: 50px;
        h1{
            font-size: 24px;
        }
    }

    .description{
        .container{
            .card{
                .text{
                    .title{
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .blocks{
        .container{
            .tarGlassBlocksCard {
                width: 100%;
            }
        }
    }

    .factories{
        .container{
            .btns{
                flex-direction: column;

                .btn{
                    width: 100%;
                }
    
                .btn:last-child{
                    width: 100%;
                    margin-top: 20px;
                    margin-left: 0;
                }
            }
        }
    }
    .designing{
        margin-top: 0;

        .container{
            .content{
                ul{
                    padding: 0;
                }
            }
        }
    }

    .designingCard{
        height: 250px;
    }

    .solution{
        .container{
            .title{
                .btns{
                    flex-direction: column;

                    .btn{
                        width: 100%;
                    }

                    .btn:last-child{
                        width: 100%;
                        margin: 0;
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .gallary{
        .container{
            .title{
                flex-direction: column;
            }

            .content{
                .carousel{
                    .owl-carousel.carouselGallary {
                        .carousel-item{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}