body
{
    margin: 0;
    color: #000;
    background: #fff;
    font-family: Montserrat;
}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input, select
{
    outline: none;
}

button, a
{
    cursor: pointer;
}

.btn{
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 20px;
    border: 2px solid #32629A;
    width: 100%;
    background: none;
    color: #32629A;
    font-family: Montserrat;
}

.btn_bg{
    background: #32629A;
    color: white;
    font-family: Montserrat;
}

section{
    padding-top: 35px;
    padding-bottom: 35px;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 50px;
    z-index: 100;

    .container{
        display: flex;
        align-items: center;
        justify-content:space-between;
        flex-wrap: wrap;
    }

    .logo{
        display: flex;
        flex-direction: column;

        img{
            width: 160px;
        }
    }

    .title{
        text-transform: uppercase;
        font-size: 14px;
        font-style: italic;
    }

    .search{
        width: 40%;
        display: flex;
        align-items: center;
        border: 2px solid rgba(50, 98, 154, 0.3);

        input{
            padding: 10px;
            border: none;
            width: 100%;
            background: none;
            padding-right: 0;

            
        }

        input::-webkit-search-cancel-button{
            display: none;
        }

        button{
            border:none;
            background: none;
        }
    }

    .language{
        ul{
            padding: 0;
            color: #32629A;
            li{
                display: inline;
                font-size: 16px;
                font-weight: normal;
                border-right: 1px solid gray;
                padding: 0px 5px;
            }

            li:last-child{
                border: none;
            }
        }
    }

    .contacts{
        display: flex;
        flex-direction: column;
        .phone::before{
            content: url(../images/Phone.png);
            padding: 10px;
            vertical-align: middle;
        }

        .phone{
            font-size: 28px;
        }

        .mail{
            margin-left: auto;
            color: #32629A;
        }
    }

    .nav{
        width: 100%;
        ul{
            display: flex;
            justify-content:space-between;
            width: 100%;
            padding: 0;

            li{
                display: inline;
                text-transform: uppercase;
                font-size: 18px;
            }

            .separator{
                color: #32629A;
            }
        }

        .btnCloseMenu{
            display: none;
        }
    }
}

.introduction{
    padding-top: 200px;
    display: flex;
    align-items: center;
    background: url(../images/BackgroundHeader.png) no-repeat;
    padding-bottom: 100px;
    position: relative;

    .container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .descr{
        display: flex;
        flex-direction: column;
        width: 60%;
        flex-wrap: wrap;

        p{
            font-size: 18px;
            text-transform: uppercase;
        }

        .btns{
            display: flex;
            margin-top: 50px;
            justify-content:space-between;

            button{
                width: 40%;
            }
        }
    }

    .quality{
        display: flex;
        justify-content:space-between;
        margin-top: 50px;
        flex-wrap: wrap;

        p{
            display: inline-block;
            text-transform: none;
            font-size: 14px;
            align-items: center;
            padding-left: 20px;
            margin: 0;
        }

        .iso{
            display: flex;
            font-weight: bold;
            width: 30%;
            align-items: center;

            span{
                font-weight: normal;
            }
        }

        .npo{
            display: flex;
            font-weight: normal;
            width: 60%;
            align-items: center;

            span{
                font-weight: bold;
            }
        }
    }

    h1{
        font-size: 32px;
        font-style: italic;
        text-transform: uppercase;
        font-weight: normal;
        color: #32629A;

        span{
            font-weight:bold;
        }

        margin-bottom: 0;
    }

    .video{
        display: flex;
        background-position-y: center;
        width: 40%;
        height: 400px;

        .playVideo{
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
            background: none;
            border: none;
        }
    }
}

.introduction::after{
    content: "";
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
    bottom: 0;
    width: 100%;
    height: 100px;
}

.titleSection{
    font-size: 33px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 20px;
    margin: 0;
    padding-left: 50px;
    position: relative;
    font-style: italic;
    overflow: hidden;
}

.titleSection::before{
    content: "";
    position: absolute;
    background: #F22640;
    transform: rotate(15deg);
    width: 5px;
    height: 120%;
    top: -5px;
    left: 0;
    margin-left: 10px;
}

.complexSolutionCard{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 20px;

    h3{
        text-transform: uppercase;
        font-size: 16px;
    }

    .learnMoreBtn{
        background: none;
        border: none;
        width: 200px;
        text-align: left;
        padding: 0;
        font-family: Montserrat;
    }

    .learnMoreBtn::before{
        content: url(../images/LearnMoreIcon.png);
        vertical-align: middle;
        padding-right: 10px;
        
    }
}

.complexSolution{
    p{
        font-size: 16px;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
    }
}

.turnkeySolution{
    background: url(../images/TurnkeySolutionBackground.png);
    background-size: 100%;

    .cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    p{
        font-size: 16px;
    }
}

.turnkeySolutionCard{
    width: 30%;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    margin-top: 20px;

    a{
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        padding: 35px;
        margin: 0;
        color: white;
        border: none;
        word-break: break-word;
    }
}

.turnkeySolutionCardBtn{
    width: 30%;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    padding-bottom: 20px;
    margin-top: 20px;
    background: white;

    img{
        width: 130px;
        height: 130px;
    }

    h3{
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
        padding: 20px;
    }

    button{
        background: url(../images/LearnMoreIcon.png);
        border: none;
        width: 20px;
        height: 20px;
    }
}

.costPrice{
    .info{
        display: flex;
        flex-wrap: wrap;

        h3{
            font-size: 22px;

            span{
                font-size: 42px;
            }
        }

        .red{
            color: #F22640;
        }

        .black{
            font-size: 16px;
        }

        .el{
            margin-left: 50px;
        }
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.costPriceCard{
    width: 30%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    h3{
        text-transform: uppercase;
        font-size: 16px;
        padding: 30px;
        text-align: center;
        height: 20%;
    }

    img{
        width: 100%;
    }

    ul{
        margin-top: 20px;
        list-style: square;
        
        

        li{
            color: #F22640;
            padding: 0 20px 0 20px;
        }

        li span{
            color: black;
        }
    }
}

.projects
{
    .content{
        display: flex;
        flex-wrap: wrap;
    }

    .carousel{
        margin-top: 50px;
        width: 100%;
    }

    .projectsSlide{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        img{
            width: 50%;
        }

        .descr{
            width: 50%;
            padding-left: 50px;

            h3{
                font-size: 24px;
                text-transform: uppercase;
                margin-top: 0;
            }

            ul{
                margin-top: 20px;
                list-style: square;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 60%;
                padding-left: 20px;
        
                li{
                    color: #F22640;
                }
        
                li span{
                    color: black;
                }
            }
        }

        .locationDate{
            display: flex;
            font-size: 14px;
            color: #7B7B7B;

            .location::before{
                content: url(../images/GeolocationIcon.png);
                vertical-align: middle;
                padding-right: 10px;
            }

            .date::before{
                content: url(../images/DateIcon.png);
                vertical-align: middle;
                padding-right: 10px;
            }

            .date{
                margin-left: 30px;
            }
        }
    }

    .btns{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 50%;

        .btn{
            width: 10%;
        }

        .btn_bg{
            width: 75%;
            text-align: center;
        }
    }
}

.news{
    .titleSection{
        display: inline-block;
    }

    .title{
        display: flex;
        width: 50%;
        justify-content: space-between;
    }

    .btn{
        width: 40%;
    }

    .date::before{
        content: url(../images/DateIcon.png);
        vertical-align: middle;
        padding-right: 10px;
    }

    .date{
        color: #7B7B7B;
        font-size: 14px;
    }

    .owl-carousel{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .newsSlide{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .descr{
            display: flex;
            flex-direction: column;
            width: 40%;
            justify-content: space-between;

            h3{
                font-size: 20px;
            }

            .text{
                height: 80%;
            }
        }

        img{
            width: 50%;
        }
    }

    .owl-dots{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        border: 2px solid #32629A;
    }

    .owl-dot{
        width: 8px;
        height: 8px;
        background: none;
        border: 2px solid #32629A;
        border-radius: 10em;
        display: inline-block;
        transition: background-color .5s ease, transform .5s ease;
        margin: 5px;

        &.active{
            background-color: #32629A;
            transform: scale(1.5) ;
        }
    }
}

.exhibitions{
    .card{
        display: flex;
        margin-top: 50px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        flex-wrap: wrap;

        img{
            width: 30%;
        }

        .descr{
            width: 70%;
            padding-left: 100px;
            padding-right: 100px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
        }

        h3{
            font-size: 20px;
        }
    }
}

footer{
    background: #2B303F;
    background-image: url(../images/FooterBackground.png);
    flex: 0 0 auto;
    width: 100%;
    color: white;
    padding: 50px 0 50px 0;
    display: flex;
    flex-wrap: wrap;

    .nav{
        width: 100%;

        ul{
            display: flex;
            justify-content:space-between;
            width: 100%;
            padding: 0;

            li{
                display: inline;
                text-transform: uppercase;
                font-size: 18px;
            }

            .separator{
                color: #32629A;
            }
        }
    }

    .copyright{
        color: #7B7B7B;
        font-size: 14px;
        display: flex;
        flex-direction: column;

        p{
            margin: 0;
        }
    }

    .links{
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }

    .contacts{
        display: flex;
        justify-content: space-between;

        .phone{
            margin-left: 50px;
        }
    }

    .mail::before{
        content: url(../images/MailIcon.png);
        vertical-align: middle;
        padding-right: 10px;
    }

    .phone::before{
        content: url(../images/PhoneWhiteIcon.png);
        vertical-align: middle;
        padding-right: 10px;
    }

    .descr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        flex-wrap: wrap;

        img{
            width: 10%;
        }
    }
}

.internal{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;

    .container{
        max-width: none;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        flex-wrap: wrap;
    }

    .logo{
        display: flex;
        flex-direction: column;

        img{
            width: 140px;
        }
    }

    .title{
        text-transform: uppercase;
        font-size: 12px;
        font-style: italic;
    }

    .search{
        width: 20%;
        display: flex;
        align-items: center;
        border: 1px solid #DBDBDB;

        input{
            padding: 10px;
            border: none;
            width: 100%;
            background: none;
            padding-right: 0;

            
        }

        input::-webkit-search-cancel-button{
            display: none;
        }

        button{
            border:none;
            background: none;
        }
    }

    .language{
        ul{
            padding: 0;
            color: black;
            li{
                display: inline;
                font-size: 16px;
                font-weight: normal;
                border-right: 1px solid gray;
                padding: 0px 5px;
            }

            li:last-child{
                border: none;
            }
        }

        .btnLanguage{
            display: none;
            background: none;
            border: none;
            font-weight: bold;
            font-size: 20px;
        }
    }

    .contacts{
        display: flex;
        flex-direction: column;
        .phone::before{
            content: url(../images/Phone.png);
            padding: 10px;
            vertical-align: middle;
        }

        .phone{
            font-size: 18px;
            font-weight: 600;
        }

        .mail{
            margin-left: auto;
            color: #575757;
            font-size: 15px;
        }

        .btnContacts{
            display: none;

            background: none;
            border: none;

            img{
                width: 20px;
                height: 20px;
            }
        }
    }

    .nav{
        width: 50%;
        ul{
            display: flex;
            justify-content:space-between;
            width: 100%;
            padding: 0;

            li{
                display: inline;
                text-transform: uppercase;
                font-size: 16px;
            }

            .separator{
                color: #32629A;
            }
        }

        .btnCloseMenu{
            display: none;
        }
    }
}

.internalPagesTitle{
    margin-top: 150px;
    display: flex;
    position: relative;
    min-height: 500px;

    h1{
        font-size: 66px;
        color: white;
        text-transform: uppercase;
        margin-top: 100px;
        font-style: italic;
    }
}

.specialization{
    .container{
        display: flex;
        flex-wrap: wrap;
    }

    h2{
        text-transform: uppercase;
        padding: 50px 0px;
        border-bottom: 1px solid #DDDDDD;
        font-size: 39px;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }

    .descr{
        display: flex;
        width: 100%;

        ul{
            width: 60%;
            padding-right: 50px;
            list-style: none;

            li{
                font-size: 20px;
                padding-bottom: 20px;

                .title{
                    color: #D92D2D;
                    display: inline-block;
                    width: 90%;
                    padding-left: 0;
                    font-weight: 600;
                }

                p{
                    margin: 0;
                    color: black;
                    padding-left: 25px;
                }
            }

            li::before{
                content: url(../images/Marker.png);
                padding-right: 10px;
                vertical-align: top;
            }
        }

        .text{
            width: 40%;
            font-size: 20px;
        }
    }
}

.numbers{
    background: #EEF7FD;

    .container{
        .content{
            display: flex;
            flex-wrap: wrap;
            border: 13px solid rgba(255, 255, 255, 0.6);
            padding: 20px;
        }
    }
}

.numbersCard{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    padding: 20px;

    border-right: 1px dashed #B4C2CF;

    .title{
        font-size: 80px;
        color: #D92D2D;
        text-transform: uppercase;
        margin: 0;
    }

    .descr{
        font-size: 18px;
        text-align: center;
        font-weight: 600;
    }
}

.numbersCard:last-child{
    border: none;
}

.description{
    .container{

        .card{
            display: flex;
            padding-bottom: 50px;
            align-items: center;

            img{
                width: 490px;
            }
    
            .text{
                margin-left: 30px;
    
                .title{
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 44px;
                    font-weight: 600;
                }
    
                .descr{
                    font-size: 18px;
                    line-height: 26px;
                }
            }
        }

        .card:last-child{
            .text{
                margin: 0;
                margin-right: 30px;
            }
        }
    }
}

.blocks{
    background: #EEF7FD;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.tarGlassBlocksCard{
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;

    p{
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }
}

.tarGlassBlocksCard::before{
    content: url(../images/Marker.png);
    position: absolute;
    top: -10px;
    left: -5px;
}

.description{
    .container{
        p{
            font-size: 18px;
            line-height: 26px;
        }
    }
}

.projectsSlide{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;

    img{
        width: 50%;
    }

    .descr{
        width: 50%;
        padding-left: 50px;

        h3{
            font-size: 25px;
            margin-top: 0;
            margin-bottom: 0;
        }

        ul{
            margin-top: 20px;
            list-style: square;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 20px;
    
            li{
                color: #F22640;
                margin-bottom: 15px;
            }
    
            li span{
                color: black;
            }
        }
    }

    .locationDate{
        display: flex;
        font-size: 14px;
        color: #7B7B7B;

        .location::before{
            content: url(../images/GeolocationIcon.png);
            vertical-align: middle;
            padding-right: 10px;
        }

        .date::before{
            content: url(../images/DateIcon.png);
            vertical-align: middle;
            padding-right: 10px;
        }

        .date{
            margin-left: 30px;
        }
    }
}



.factories{
    .container{
        .titleSection{
            font-size: 44px;
            font-weight: 600;
        }
        .cards{
            border-top: 1px solid #D1D1D1;
            border-bottom: 1px dashed #ABABAB;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-top: 50px;
        }
        .projectsSlide:last-child{
            flex-direction: row-reverse;
        }

        .btns{
            margin-top: 50px;
            display: flex;

            .btn{
                width: 20%;
                background-color: #D92D2D;
                border-color: #D92D2D;
            }

            .btn:last-child{
                background-color: #32629A;
                border-color: #32629A;
                width: 30%;
                margin-left: 20px;
            }
        }
    }
}

.solution{
    .container{
        .title{
            display: flex;
            justify-content: space-between;

            h2{
                font-size: 38px;
                text-transform: uppercase;
                margin: 0;
                font-weight: 600;
            }

            .btns{
                display: flex;
                justify-content: flex-end;
                width: 55%;
                align-items: center;

                .btn{
                    width: 260px;
                    background-color: #D92D2D;
                    border-color: #D92D2D;
                    font-size: 14px;
                    padding: 13px 15px;
                }
    
                .btn:last-child{
                    background-color: #32629A;
                    border-color: #32629A;
                    width:300px;
                    margin-left: 20px;
                    font-size: 14px;
                    padding: 13px 15px;
                }
            }
        }

        .descr{
            border-top: 1px solid #D1D1D1;
            margin-top: 20px;
            padding-top: 20px;
            display: flex;
            position: relative;

            ul{
                width: 50%;
                padding-right: 50px;
                list-style: none;
                border-right: 1px dashed #696969;
    
                li{
                    font-size: 18px;
                    padding-bottom: 10px;
                    padding-left: 20px;
                    position: relative;
                    font-weight: 600;
                }
    
                li::before{
                    content: url(../images/MarkerBlue.png);
                    left: 0;
                    top: -5px;
                    position: absolute;
                }
            }

            ul:last-child{
                border: none;
            }
        }

        .descr::before{
            content: "";
            position: absolute;
            width: 50px;
            color: #D92D2D;
            border-top: 5px solid #D92D2D;
            top: 0;
        }
    }
}

.gallary{
    .container{
        .title{
            display: flex;
            justify-content: space-between;

            h2{
                font-size: 38px;
                text-transform: uppercase;
                margin: 0;
            }

            .btns{
                display: flex;

                button{
                    background-color: #E4EEF5;
                    border: none;
                    border-radius: 50px;
                    width: 50px;
                    height: 50px;
                    font-size: 24px;
                    margin: 10px;
                }
            }
        }

        .content{
            border-top: 1px solid #D1D1D1;
            margin-top: 20px;
            padding-top: 20px;
            display: flex;
            position: relative;

            .carousel{
                width: 100%;

                .carousel-item{
                    padding: 10px;
                }
            }

            .owl-dots{
                display: flex;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                align-items: center;
            }
        
            .owl-dot{
                width: 8px;
                height: 8px;
                background: rgba(78, 78, 78, 0.42);
                border: none;
                border-radius: 10em;
                display: inline-block;
                transition: background-color .5s ease, transform .5s ease;
                margin: 5px;
        
                &.active{
                    background: none;
                    transform: scale(1.5) ;
                    border: 2px solid #D92D2D;
                }
            }
        }

        .content::before{
            content: "";
            position: absolute;
            width: 50px;
            color: #D92D2D;
            border-top: 5px solid #D92D2D;
            top: 0;
        }
    }
}

.icons{
    background: #EEF7FD;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.damlIcon{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    border-right: 1px dashed #696969;
    padding: 20px;
    margin-top: 20px;

    .icon
    {
        width: 100px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.7);
        border: 1px solid #CECECE;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .icon::after{
        content: "";
        width: 14px;
        height: 14px;
        position: absolute;
        top: 10px;
        right: 10px;
        border: 4px solid #D92D2D;
        border-radius: 20px;
    }

    p{
        text-align: center;
        font-size: 20px;
    }
}

.damlIcon:last-child{
    border: none;
}

.damlIcon:nth-child(3){
    border: none;
}

.designing{
    display: flex;
    flex-direction: column;
    .container{
        .descr{
            display: flex;
            justify-content: space-between;
        }

        p{
            width: 45%;
            font-size: 18px;
        }

        h2{
            font-size: 38px;
            text-transform: uppercase;
            margin: 0;
        }

        .content{
            border-top: 1px solid #D1D1D1;
            margin-top: 20px;
            padding-top: 20px;
            display: flex;
            position: relative;

            ul{
                width: 50%;
                padding-right: 50px;
                list-style: none;
                border-right: 1px dashed #696969;
    
                li{
                    font-size: 18px;
                    padding-bottom: 10px;
                    padding-left: 20px;
                    position: relative;
                    font-weight: 600;
                }
    
                li::before{
                    content: url(../images/MarkerBlue.png);
                    left: 0;
                    top: -5px;
                    position: absolute;
                }
            }

            ul:last-child{
                border: none;
            }
        }

        .content::before{
            content: "";
            position: absolute;
            width: 50px;
            color: #D92D2D;
            border-top: 5px solid #D92D2D;
            top: 0;
        }
    }
}

.iconsDesigning{
    background: #EEF7FD;
    padding-bottom: 150px;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.designingCard{
    width: 30%;
    display: flex;
    align-items:flex-start;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    padding: 20px;
    height: 150px;
    margin-top: 30px;

    p{
        padding-left: 20px;
        margin: 0;
    }
}

@import 'responce';